/**
 * Import Fonts
 */
@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700);

/**
 * General
 */
html,
body {
    height: 100%;
}

body {
    background: #000;
    font-family: 'Source Sans Pro', sans-serif; /* Change to a nice 'gamey' font */
    color: #666;
}
